@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body,
p,
span,
li,
a {
  font-family: var(--font-inter), sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-urbanist), sans-serif;
}
p {
  @apply text-sm;
  letter-spacing: 0px;
  font-weight: 400;
}
.scrollbar-whide {
  scrollbar-width: none;
} 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.custom-pagination {
  bottom: 50px;
  span {
    width: 130px !important;
    height: 30px !important;
    background: none;
    font-size: 15px;
    position: relative;
    opacity: 1;
    @apply text-white/50;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background: #ccc;
      bottom: 0;
      opacity: 0.5;
      border-radius: 5px;
    }
    &.swiper-pagination-bullet-active {
      @apply text-white;
      .progress-bar {
        opacity: 1;
      }
    }
  }
  .progress-bar {
    @apply absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: white;
    animation: progress 10s linear forwards;
    opacity: 0;
    border-radius: 5px;
  }
}

.custom-pag {
  span {
    @apply w-[44px];
    @apply h-[2px];
    border-radius: 3px;
    @apply bg-white;
  }
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@layer utilities {
  .section-spacing {
    @apply py-[60px] md:py-[80px] lg:py-[100px];
  }
}
.spckbtn {
  position: relative;
  height: 44px !important;
  line-height: 44px;
  padding: 0 25px 0 36px;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.5s all ease-in-out;
  > div {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    padding: 8px;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    &::before {
      position: absolute;
      width: 6px;
      content: "";
      height: 6px;
      @apply bg-white;
      left: 0;
      top: 50%;
      right: 0;
      z-index: -1;
      border-radius: 100%;
      transition: 0.5s all ease-in-out;
      margin: 0 auto;
      transform: translateY(-50%);
    }
    img {
      top: 2px;
      width: 0px;
      transition: 0.5s all ease-in-out;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  &:hover {
    padding: 0 15px 0 46px;
    > div {
      &::before {
        width: 100%;
        height: 100%;
        border-radius: 0%;
      }
      img {
        width: 16px;
        height: 17px;
      }
    }
  }
}


.spckbtnright {
  position: relative;
  height: 44px !important;
  line-height: 44px;
  padding: 0 36px 0 25px;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.5s all ease-in-out;

  > div {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    padding: 8px;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;

    &::before {
      position: absolute;
      width: 6px;
      height: 6px;
      content: "";
      @apply bg-white;
      left: 0;
      top: 50%;
      right: 0;
      z-index: -1;
      border-radius: 100%;
      transition: 0.5s all ease-in-out;
      margin: 0 auto;
      transform: translateY(-50%);
    }

    img {
      width: 0px;
      transition: 0.5s all ease-in-out;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  &:hover {
    padding: 0 46px 0 15px;

    > div {
      &::before {
        width: 100%;
        height: 100%;
        border-radius: 0%;
      }

      img {
        width: 16px;
        height: 17px;
      }
    }
  }
}


  &.whts {
    @apply bg-white;
    @apply text-black;
    > div {
      &::before {
        @apply bg-primary;
      }
      img {
        @apply invert;
        @apply brightness-0;
      }
    }
  }
  &.orng {
    @apply bg-primary;
    @apply text-white;
    > div {
      &::before {
        @apply bg-white;
      }
    }
  }

@media (min-width: 1800px) {
  footer {
    container {
      width: 1600px;
    }
  }
}
.ovrbanner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 45%,
      rgba(0, 0, 0, 0) 99%
    ),
    rgba(0, 0, 0, 0.3);
}
.wwebanner {
  background: url("/assets/img/story/banner_wwa.jpg");
}
.liststs li::before {
  background: url("/assets/img/icons/tick.svg");
}
.tanspheader .arrowst {
  filter: invert(1);
}
.lstans li {
  @apply flex before:content-['']   before:h-5 before:min-w-5 before:rounded-[100%]   before:mr-4 before:mt-1 text-sm leading-[1.4] text-black/75 mb-3;
}
.btnfrtss {
  color: #ffffff;
  position: absolute;
  z-index: 2;
  background: #fa6323;
  font-size: 22px !important;
  bottom: 0;
  width: 95%;
  left: 2.5%;
  border-radius: 2px;
  padding: 10px;
}
.urbn-fnt-fmly {
  font-family: var(--font-urbanist), sans-serif;
}
.aftre::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  border-radius:0px 0px 15px 15px;
  background: #FFFFFF30;
  background: linear-gradient(180deg, #ffffff00, #010101bf);
}
.jobdesc {
  h2{
    @apply text-lg font-semibold;
  }
  li{
    @apply list-disc list-inside text-gray-600 mt-2 text-sm;
  }
  p{
    @apply text-gray-600;
  }
  display:flex;
  flex-direction: column;
  gap:20px;
}

.addrea p{
  @apply lg:text-[22px] text-[16px] text-black font-[500]   lg:w-[60%];
}

